/* ---------------- 
    common 
-----------------*/

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.fa-arrow-right {
    margin-left: 10px;
}


/*-------------------- 
    heading part 
---------------------- */


header {
    background-color: #2D25A0;
    margin-bottom: 70px;

}

.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-container:hover .banner img {
    transform: scale(1.3);
    transition: transform 3s ease-out;
}



.heading {
    width: 485px;

}

.heading h1 {
    width: 100%;
    font-size: 4rem;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 38px;
}

.heading-link {
    width: 120px;
    background-color: #E02C6D;
    padding: 10px 24px;

}

.heading-link a {
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 24px;


}



.banner {
    width: 556px;
    padding-top: 153px;
    padding-bottom: 86px;
    overflow: hidden;


}

.banner img {
    width: 100%;

}


/*------------------ 
    main part 
--------------------*/

/* photo albums part */


.photo-albums-container {
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 165px;
}

.photo-albums {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    grid-auto-rows: minmax(330px, auto);
}

.photo-album {
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0px 0px 40px 0px #00000026;

}

.photo-album img {
    width: 100%;

}

.photo-album h2 {
    color: #18191F;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 16px;
    margin-bottom: 10px;

}

.photo-album p {
    color: #6C6C6C;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 0;
}

/* highlights part */



.highlights-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 158px;
}


.blog-heading {
    width: 469px;
}

.blog-heading h1 {
    color: #0A0826;

    width: 100%;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 8px;
    margin-top: 0;
}

.blog-details {
    width: 404px;
}

.blog-details p {
    width: 100%;
    color: #6C6C6C;
    margin-bottom: 24px;

}

.blog-link {
    width: 120px;
    background-color: #E02C6D;
    padding: 10px 24px;
}

.blog-link a {
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 24px;


}

.thumbnail {
    width: 567px;
}

.thumbnail img {
    width: 100%;
}


/* footer part */

footer {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.footer-logo {
    width: 484px;
    margin-bottom: 20px;
}

.footer-logo img {
    width: 100%;
}

.social-links {
    text-align: center;
    margin-bottom: 20px;
}

.social-links .fa-brands {

    color: #969BAB;
    background-color: #E7E7E8;
    border-radius: 16px;
    padding: 8px;
    margin-right: 14px;
    margin: 0 7px;
}

.copyright {
    width: 236px;
    text-align: center;
    margin-bottom: 63px;
}

.copyright p {
    width: 100%;
    font-size: 18px;
    font-size: 400;
    line-height: 24px;
}

/* media queries */

@media screen and (max-width: 688px) {

    .header-container {
        flex-direction: column;
    }

    .heading {
        width: 95%;
        margin-bottom: 25px;
    }

    .banner {
        width: 95%;
        margin-top: 25px;
        padding-top: 0;
    }

    .photo-albums-container {
        width: 100%;
    }

    .photo-albums {
        grid-template-columns: 1fr;
        width: 95%;
        margin: 0 auto;
    }

    .highlights-container {
        flex-direction: column;
        margin-bottom: 43px;
    }

    .blog {
        width: 95%;
    }

    .blog-heading {
        width: 100%;
    }

    .blog-details {
        width: 100%;
    }

    .blog-link {
        margin-bottom: 29px;

    }

    .thumbnail {
        width: 95%;
    }

    .footer-logo {
        width: 95%;
    }

    .social-links {
        width: 95%;
    }

    .copyright {
        width: 95%;
    }

}

@media screen and (min-width: 689px) and (max-width: 992px) {
    .header-container {
        flex-direction: column;
    }

    .heading {
        width: 95%;
        margin-bottom: 25px;
    }

    .banner {
        width: 95%;
        margin-top: 25px;
        padding-top: 0;
    }

    .photo-albums-container {
        width: 100%;
    }

    .photo-albums {
        grid-template-columns: repeat(2, 1fr);
        width: 95%;
        margin: 0 auto;
    }

    .highlights-container {
        flex-direction: column;
        margin-bottom: 43px;
    }

    .blog {
        width: 95%;
    }

    .blog-heading {
        width: 100%;
    }

    .blog-details {
        width: 100%;
    }

    .blog-link {
        margin-bottom: 29px;

    }

    .thumbnail {
        width: 95%;
    }

    .footer-logo {
        width: 95%;
    }

    .social-links {
        width: 95%;
    }

    .copyright {
        width: 95%;
    }
}